.no-access-frame{
    text-align: center;
    margin: auto;
}

.dashLink{
    text-decoration: none !important;
    color: rgb(21, 21, 255);
}

.no-access {
    border: 2px solid crimson;
    padding: 40px;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
    margin-top: 13%;
}
